// background colors 

$primary: #242424;
$primary--light: #fff;
$primary--dark: #0b1c39;
$red:#ff2020;
$darkred:#ea0000;
$maingray: #f0f0f2;
$mobilecolor: #C1C1C1;
$bgColor:#E5E5E5;

// text colors 

$text-light:#fff;
$text-dark:#000000;
$text-secondary:#4E4E4E;
$text-tertiary:#7D7D7D;
$text-error:#DA0000;



// Margin variables
$margin--b:30px;
$margin--b2:60px;
$margin--t:30px;
$margin--t2:60px;

//padding

$padding--b:30px;
$padding--b2:60px;
$padding--t:30px;
$padding--t2:60px;



// Heading
$head--1: 89.76px;
$head--2: 67.34px;
$head--3: 50.52px;
$head--4: 37.9px;
$head--5: 28.43px;
$head--6: 21.33px;
$title__font: 28px;
$subtitle--L:18px;
$subtitle--1S:16px;
$subtitle--2S:14px;
$button__font:16px;


// Spacing


$font__weight--normal:normal;
$font__weight--500:500;
$font__weight--600:600;
$font__weight--700:700;
$font__weight--bold:bold;


//line height
$line__height:1.6;
